html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: #2e3842;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

body,
input,
select,
textarea {
  /* color: #fff; */
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 400;
  letter-spacing: 0.075em;
  line-height: 1.65em;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body,
  input,
  select,
  textarea {
    font-size: 11pt;
    letter-spacing: 0.0375em;
  }
}

a {
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px;
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
}

strong,
b {
  color: #fff;
  font-weight: 600;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.35em;
  line-height: 1.75em;
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1.1em;
    line-height: 1.65em;
  }
}

h3 {
  font-size: 1.15em;
  line-height: 1.75em;
}

@media screen and (max-width: 736px) {
  h3 {
    font-size: 1em;
    line-height: 1.65em;
  }
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.8em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

#page-wrapper {
  transition: opacity 0.5s ease;
  opacity: 1;
  padding-top: 3em;
}

#page-wrapper:before {
  background: rgba(0, 0, 0, 0);
  content: "";
  display: block;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}
#menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 20em;
  height: 100%;
  max-width: 50%;
  overflow-y: auto;
  background: #21b2a6;
  color: #ffffff;
  padding: 3em 2em;
  transform: translateX(20em);
  transition: transform 0.5s ease;
  z-index: 10000;
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu ul > li {
  border-top: solid 1px rgba(0, 0, 0, 0.125);
  margin: 2em 0 0 0;
  padding: 2em 0 0 0;
}

#menu ul > li:first-child {
  border-top: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

#menu ul > li > a {
  border: 0;
  color: inherit;
  display: block;
  font-size: 0.8em;
  letter-spacing: 0.225em;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 736px) {
  #menu ul > li > a {
    line-height: 3em;
  }
}

#menu .close {
  background-image: url("images/close.svg");
  background-position: 4.85em 1em;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  display: block;
  height: 3em;
  width: 7em;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: middle;
}

@media screen and (max-width: 736px) {
  #menu {
    padding: 3em 1.5em;
  }
}

body.is-menu-visible #page-wrapper {
  opacity: 0.35;
}

body.is-menu-visible #page-wrapper:before {
  display: block;
}

body.is-menu-visible #menu {
  transform: translateX(0);
}

#header {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
}

#header nav {
  height: inherit;
  line-height: inherit;
  position: absolute;
  right: 0;
  top: 0;
}

#header nav > ul {
  list-style: none;
  white-space: nowrap;
}

#header nav > ul > li {
  display: inline-block;
}

#header nav > ul > li > a {
  border: 0;
  color: #fff;
  display: block;
  font-size: 0.8em;
  letter-spacing: 0.225em;
  padding: 0 1.5em;
  text-transform: uppercase;
}

#header nav > ul > li > a.menuToggle {
  outline: 0;
  position: relative;
  margin-right: 1rem;
}

#header nav > ul > li > a.menuToggle:after {
  background-image: url("images/bars.svg");
  background-position: right center;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 3rem;
  width: 2em;
  vertical-align: top;
}

@media screen and (max-width: 736px) {
  #header nav > ul > li > a.menuToggle {
    padding: 0 1.5em;
  }

  #header nav > ul > li > a.menuToggle span {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  #header nav > ul > li > a {
    padding: 0 0 0 1.5em;
  }
}

#header nav > ul > li:first-child {
  margin-left: 0;
}

/* Logo */
.logo {
  position: absolute;
  top: 0;
  left: 15px;
  width: 5rem;
  height: 5rem;
  z-index: 10000;
}
.logo a {
  border: none;
}
.logo img {
  width: 100%;
  height: 100%;
}

#landingPage {
  width: 100%;
  height: 100%;
}
.showcase {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}
